# === Java ===
*.class
*.jar
*.war
*.ear
*.log

# === VS Code ===
.vscode/
.history/

# === IntelliJ IDEA ===
.idea/
*.iml

# === MacOS ===
.DS_Store

# === Windows ===
Thumbs.db

# === Cartelle di build ===
bin/
build/
out/
target/

# === File temporanei ===
*.tmp
*.swp
*.bak